@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-green-400 font-sans text-xl;
    text-shadow: 0 0 2px #2596be, 0 0 5px #2596be, 0 0 10px #2596be;
    animation: text-flicker 0.01s infinite alternate;
  }

  .crt-container {
    position: relative;
    overflow: hidden;
    border-radius: 0.5em; /* Keep some rounding for the CRT screen */
    border: 2px solid #1a1a1a;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
  }

  .crt-container::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: radial-gradient(ellipse at center, rgba(0, 255, 0, 0.15) 0%, rgba(0, 255, 0, 0) 100%);
    z-index: 2;
    pointer-events: none;
    opacity: 0.5;
  }

  .crt-container::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 4px;
    z-index: 2;
    pointer-events: none;
    animation: scanline 10s linear infinite;
  }
}

@keyframes scanline {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100vh;
  }
}

@keyframes text-flicker {
  from {
    text-shadow: 0 0 2px #2596be, 0 0 5px #2596be, 0 0 10px #2596be;
  }
  to {
    text-shadow: 0 0 3px #2596be, 0 0 6px #2596be, 0 0 12px #2596be;
  }
}
